/.venv/
/.chainlit/
/.idea/
__pycache__
/site/
/.cache/
/env_mkdocs/
/ingenious_extensions/local_files//tmp/context.md
/ingenious_extensions/local_files//tmp/*.db
/build
/.venv_mkdocs
/.env_mkdocs/
.DS_Store
.chainlit
.DS_Store
/docker_template/dist/
/.devcontainer/
/.files/
/.github/
/guardrails/.guard_venv/
/guardrails/.venv/
config.yml
/.tmp
/ingenious_prompt_tuner_sv/node_modules