/.venv/
/.chainlit/
/.venv*/
/.idea/
__pycache__
/site/
/.cache/
/env_mkdocs/
/ingenious/tmp/db/
/ingenious/tmp/context.md
/tmp/*.db
/build
/.venv_mkdocs
/.env_mkdocs/
.DS_Store
.chainlit
.DS_Store
/dist/
/tmp/
/docker/dist/
/.devcontainer/
/.files/
/.github/
/my_venv/
