include ingenious_prompt_tuner/templates/**/*.html
include ingenious_prompt_tuner/templates/**/*.js
include ingenious_prompt_tuner/templates/**/*.css
include ingenious_prompt_tuner/templates/**/*.py
include ingenious_prompt_tuner/**/*.py
include ingenious_prompt_tuner/static/**/*.*
include ingenious_prompt_tuner/public/**/*.*
include ingenious/ingenious_extensions_template/**/*.json
include ingenious/ingenious_extensions_template/**/*.yml
include ingenious/ingenious_extensions_template/**/*.md
include ingenious/ingenious_extensions_template/**/*.jinja
include ingenious/ingenious_extensions_template/**/*.html
include ingenious/ingenious_extensions_template/**/*.py
include ingenious/ingenious_extensions_template/*.yml


